@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  overflow-x: hidden;
}

/* disable static page icon */
[data-next-route-indicator] {
  display: none !important;
}

input:-webkit-autofill {
  background-color: transparent;
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: inherit;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
  background-color: transparent;
  color: white;
}

/* top products carousel */
.embla {
  max-width: 1280px;
  margin: auto;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-height: 658px;
  user-select: none;
}

/* active carousel */

.active-carousel-div {
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
}

.active-carousel-container{
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.active-slide {
  border: 1px solid red;
  transform: translate3d(0, 0, 0);
}

.product-grid {
  grid-template-columns: repeat(4, 1fr);
}

.unstoppable {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url('../assets/images/boxer.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

.community-bg-image {
  background-image: url('../assets/images/runners.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.phone-input .PhoneInputCountry {
  display: none;
}

.PhoneInput {
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding-left: 10px;
  color: white;
}

.phone-input .PhoneInputInput {
  outline: none;
  width: 100% !important;
  flex-shrink: 0;
  background-color: transparent;
  height: 100%;
  padding-right: 16px;
  font-weight: 400 !important;
}

.transparent .PhoneInputInput::placeholder {
  color: white !important;
}

.dark .PhoneInputInput::placeholder {
  color: #717171 !important;
}

.light .PhoneInputInput::placeholder {
  color: #4b525a !important;
}

[data-state='checked'] svg {
  display: none !important;
}

.SelectContent {
  width: var(--radix-select-trigger-width);
}

.select-trigger {
  gap: 10px;
}

.select-trigger > span {
  text-align: left;
  width: 100%;
}

.select-item > span {
  width: 100%;
}

textarea {
  resize: vertical;
  height: 120px;
  max-height: 120px;
  min-height: 50px;
  border-radius: 14px;
  padding: 1rem;
  outline: none;
  transition: all 0.18s ease-in;
}

textarea::placeholder {
  color: #717171;
}

.dark textarea {
  background-color: red !important;
}

.or-border {
  background-image: linear-gradient(
    253.85deg,
    #ffffff -51.43%,
    rgba(186, 184, 184, 0) 165.09%
  );
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(20px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(20px);
  }
  to {
    opacity: 0;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.2s ease-in-out forwards;
}

.animate-fadeOut {
  animation: fadeOut 0.2s ease-in-out forwards;
}

@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 350px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1200px) {
  .notch {
    top: -2.4%;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
