@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow: auto;
}

@layer utilities {
  .hide-number-spinners {
    -moz-appearance: textfield;
  }

  .hide-number-spinners::-webkit-inner-spin-button,
  .hide-number-spinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* disable static page icon */
[data-next-route-indicator] {
  display: none !important;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button
  input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input[type='number'],
input[type='number'] {
  -moz-appearance: textfield !important;
  -ms-appearance: textfield !important;
  appearance: textfield !important;
}

input:-webkit-autofill {
  background-color: transparent;
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
  background-color: transparent;
  color: white;
}

/* admin nav indicator */
.active-indicator::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  height: 2px;
  width: 24px;
  background-color: #cd9900;
  transform: translateX(-50%);
}

.embla {
  max-width: 1280px;
  margin: auto;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-height: 658px;
  user-select: none;
}

.product-grid {
  grid-template-columns: repeat(4, 1fr);
}

.unstoppable {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url('../assets/images/boxer.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.community-bg-image {
  background-image: url('../assets/images/runners.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.phone-input .PhoneInputCountry {
  display: none;
}

.PhoneInput {
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding-left: 10px;
  color: white;
}

.phone-input .PhoneInputInput {
  outline: none;
  width: 100% !important;
  flex-shrink: 0;
  background-color: transparent;
  height: 100%;
  padding-right: 16px;
  font-weight: 400 !important;
}

.transparent .PhoneInputInput::placeholder {
  color: white !important;
}

.dark .PhoneInputInput::placeholder {
  color: #717171 !important;
}

.light .PhoneInputInput::placeholder {
  color: #4b525a !important;
}

[data-state='checked'] svg {
  display: none !important;
}

.SelectContent {
  width: var(--radix-select-trigger-width);
}

.select-trigger {
  gap: 10px;
}

.select-trigger > span {
  text-align: left;
  width: 100%;
}

.select-item > span {
  width: 100%;
}

textarea {
  resize: vertical;
  height: 120px;
  max-height: 120px;
  min-height: 50px;
  border-radius: 14px;
  padding: 1rem;
  outline: none;
  transition: all 0.18s ease-in;
}

textarea::placeholder {
  color: #717171;
}

.dark textarea {
  background-color: red !important;
}

.or-border {
  background-image: linear-gradient(
    253.85deg,
    #ffffff -51.43%,
    rgba(186, 184, 184, 0) 165.09%
  );
}

/* Checked state */
.custom-checkbox[data-state='checked'] {
  background-color: #cd9900 !important;
  border-color: #cd9900 !important;
  stroke: #1e1e1e !important;
}

.custom-checkbox[data-state='checked'] svg {
  display: block !important;
  stroke: #1e1e1e !important;
  width: 12px;
  height: 10px;
}

/* tiptap */

.ProseMirror h1 {
  font-size: 2rem;
  font-weight: bold;
}

.ProseMirror h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.ProseMirror h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.ProseMirror ul {
  list-style-type: disc; /* Ensures bullet points */
  padding-left: 1.5rem; /* Indents list items */
}

.ProseMirror ol {
  list-style-type: decimal; /* Ensures numbered lists */
  padding-left: 1.5rem;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(20px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(20px);
  }
  to {
    opacity: 0;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.2s ease-in-out forwards;
}

.animate-fadeOut {
  animation: fadeOut 0.2s ease-in-out forwards;
}

@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 350px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1200px) {
  .notch {
    top: -2.4%;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
